<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tests" verbose="2" configfailurepolicy="continue">

    <listeners>
        <listener class-name="logger.DefaultListener"/>
    </listeners>
    <test name="All tests suite">
        <classes>
            <class name="org.example.LoginTest"/>
            <class name="org.example.ChangeProfileNameTest"/>
            <class name="org.example.ChangeProfileBioTest"/>
            <class name="org.example.ChangeProfileLocationTest"/>
            <class name="org.example.SendTweetTest"/>
        </classes>
    </test>
</suite>